---
---

@import "{{ site.theme }}";

.custom_style1 {
    color: #E7E7E7;
    font-size: 45%;
}

.custom_style2 {
    color: #E7E7E7;
    font-size: 45%;
}

.custom_style3 {
    color: #E7E7E7;
    font-size: 35%;
}

.custom_style4 {
    color: #81dcfc;
    font-size: 65%;
}
