---
---

@import "{{ site.theme }}";

header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

subtext {
   h2 {
    font-color: red;
   }
}
