---
---

@import "{{ site.theme }}";

.custom_style1 {
    color: #E7E7E7;
    font-size: 45%;
    text-align: right;
}

.custom_style2 {
    color: #E7E7E7;
    font-size: 45%;
    text-align: right;
}

.custom_style3 {
    color: #E7E7E7;
    font-size: 35%;
    text-align: right;
}
